.span{
    display: inline-block;
    height: 80%;
    /* border: 3px solid red; */
    /* font-size: 5rem; */
    font-size: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    
}